doctype html
html
  head
    title Choudhary Dance Academy
    block scripts
    block style  
  body
    nav#navbar 
         ul 
             div#logo
               img(src="/static/logo2.jpg")
               | CDA
             li #[a(href="/") Home] 
             li #[a(href="/") About] 
             li #[a(href="/") Services] 
             li #[a(href="/") Class Info] 
             li #[a(href="/contact") Contact Us]

    block content
    footer#footer
        | Copyright @ 2023 ChoudharyDanceAcadeny.com |All Rights Reserved